.header {
    border: 4px, solid black;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    color:white;
    height: 20px;
    padding:20px;
    
}

.cuerpo {
    border: 7px, solid white;
    margin:20px;
    padding:10px;

}

#ejercicio1 {
    color:white;
    border: 2px,solid red;
    border-radius: 10px;
    padding: 2px;
    background-color: red;
}

h4 {
    border: 2px, black;
    padding: 4px;
    display: inline;
    text-align: center;
    margin: 4px;
}


